extends ../layouts/admin.pug

block content
  div(class="container py-4")
    div(class="card")
      div(class="card-header border-0 bg-white")
        h5(class="card-title mb-0") Candidates List
        p(class="card-text text-muted mb-0") Total 2 candidates
      div(class="card-body p-0")
        div(class="table-responsive")
          table(class="table mb-0")
            thead
              tr
                th(scope="col") #
                th(scope="col") President name
                th(scope="col") Vice president name
                th(scope="col") Actions
            tbody
              tr
                th(scope="row") 1
                td(class="align-middle") Mahada Putra
                td(class="align-middle") Adelia Pratiwi
                td
                  a(class="btn btn-light btn-sm mx-1", href="/admin/candidates") Detail
                  a(class="btn btn-danger btn-sm mx-1", href="/admin/candidates") Delete

