extends ../layouts/main.pug

block style-addons
  link(rel="stylesheet", href="/assets/css/vote-charts.css")

block content
  div(class="container py-4")
    div(class="card")
      div(class="card-header border-0 bg-white")
        h5(class="card-title mb-0") Vote Counts
        p(class="card-text text-muted mb-0") 3 candidates
      div(class="card-body")
        canvas(id="vote-charts")

block script-addons
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js")
  script(src="/assets/js/vote-charts.js")
